
      .sidebar-nav {
        padding: 9px 0;
      }
#logo 
{
    position:relative;
    left:-270px;
}
#navbar 
{
    position:relative;
    left:-500px;
    top:100px;
}
.header {
        height: 86px;
        width:100%;
        padding-bottom: 20px;
      }
#form 
{
    position:relative;
    left:500px;
    top:-100px;
}
#About
{
     position:relative;
     top:80px;
     right:10px;
}
hr
{
         background-color:#4183c4;
         color:#4183c4;
         border-color:#4183c4;
     }

#monthly
{
    position:relative;
    top:70px;
    right:10px;
}