
      .sidebar-nav {
        padding: 9px 0;
      }
#logo 
{
    position:fixed;
    left:50px;
}
#navbar 
{
    position:relative;
    left:;
    top:50px;
}
.header {
        height: 86px;
        width:100%;
        padding-bottom: 20px;
      }
#form 
{
    position:relative;
    left:600px;
    bottom:60px;
}
#About
{
     position:relative;
     top:60px;
     right:10px;
}
hr
{
         background-color:#4183c4;
         color:#4183c4;
         border-color:#4183c4;
     }

#monthly
{
    position:relative;
    top:70px;
    right:10px;
}